{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main_Page</title>
    <link href="{% static 'css/bootstrap.min.css' %}"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous"><!--Bootstrap-->
    <link href="{% static 'img/favicon.ico' %}" rel="apple-touch-icon-precomposed">
    <link href="{% static 'css/fontello.css' %}" rel="stylesheet"><!--icons-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/formainpage.css' %}" rel="stylesheet">
    <!--icons-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<header>
    <div class="container">
      <div class="row">
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
              <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="#Renting">Rent</a>
                  <a class="nav-item nav-link" href="#footer">Contacts</a>
                </div>
              </div>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="{%url 'register'%}">Sign up</a>
                  <a class="nav-item nav-link" href="{%url 'login'%}">Log in</a>
                </div>
              </div>
        </nav>
      </div>
  </div>
    {%block HEADER%}
    <!--HEADER-->
    <div class="container mt-4 border border-dark rounded">
        <h1 class="text-center font-weight-bold">Welcome to Your Website</h1>
        <p class="text-center">This is a simple Bootstrap-based header.</p>
    </div>
    <!--About advantages of our beach-->
    <div class="container my-5">
        <div class="row">
            <h2 class="text-center border border-dark">Advantages of our beach</h2>
            <div class="col-4 my-3 border border-dark">
                <!--font awesome icon-->
                <!--<i class="fa fa-search"></i>-->
                <h3>Free training to help you to use boats!</h3>
            </div>
            <div class="col-4 my-3 border border-dark">
                <h3>The cheapest price compare to another beaches!</h3>
            </div>
            <div class="col-4 my-3 border border-dark">
                <h3>You can rent a boat remotely!</h3>
            </div>
        </div>
    </div>
    {%endblock%}
</header>
<!--Just section to fill some place-->
{%block other-sections%}
<section>
    <div class="container mt-4 border border-dark-rounded">
        <div class="row">
            <div class="col-6">
                <h2 class="mt-5 w-20 h-20 font-weight-bold">Be the best!</h2>
                <br>
                <h2 class="font-weight-bold">Rent the best boats with us!</h2>
            </div>
            <div class="col">
                <img class="rounded-circle w-100 h-100 float-right" src="{% static '/images/yacht.jpg'%}" >
            </div>
        </div>
    </div>
</section>
<!--Rent cards boat-->
<section>
    <div class="container mt-4" id="Renting">
        <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
          <!--First card-->
        <div class="card h-100">
          <img src="{% static '/images/yacht.jpg'%}" class="card-img-top"
            alt="Skyscrapers" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.
            </p>
              <!--How to get the right text?-->

          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
          <!--Second card-->
        <div class="card h-100">
          <img src="{% static '/images/yach2.jpg'%}" class="card-img-top"
            alt="Los Angeles Skyscrapers" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
            </p>

          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
           <!--Third card-->
        <div class="card h-100">
          <img src="{% static '/images/Yacht-vs-Boat-Whats-the-Difference-Between-the-Two.jpg'%}" class="card-img-top"
            alt="Palm Springs Road" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to
              additional content. This card has even longer content than the first to show
              that equal height action.
            </p>

          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
    </div>
</section>
<!--Responses from users-->
<section>
    <div class="container">
        <h2 class="text-center border border-rounded mt-5">
            See what our customers are saying
        </h2>
    </div>
    <!--Carousel-->
    <div class="container my-5">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                  <!--How to make photos with the same size-->
                  <div class="col">
                        <img src="{% static '/images/albert einstein.jpg'%}" class="img-fluid d-block w-100 c1img border border-rounded" alt="...">
                  </div>
                  <div class="col c1img d-flex align-items-center bg-primary border border-rounded">
                      <h3 class=" border border-dark-rounded">The best beach I've ever seen! I created my theory swimming on this beach!</h3>
                  </div>
              </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                  <div class="col">
                        <img src="{% static '/images/aristotel.jpg' %}" class="img-fluid d-block w-100 c1img border border-rounded" alt="...">
                  </div>
                  <div class="c1img col d-flex align-items-center bg-primary border border-rounded">
                      <h3 class="my-5 border border-dark-rounded">The best beach I've ever seen! I created my theory swimming on this beach!</h3>
                  </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
</section>
{%endblock%}
<footer id="footer">
    <!--Contacts, links etc.-->
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="" class="border border-dark-rounded"><i class=""></i></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
