{%extends 'main_page.html'%}
{%load static%}
{%block HEADER%}
{%endblock%}
{%block other-sections%}
<!--Add a modal window with rules and consequences-->
<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data" class="form-control bg-primary border border-dark">
                {% csrf_token %}
                <h2 class="text-center mb-5">Fill in a form</h2>
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <a href="{%url 'mainpage'%}" role="button" class="btn btn-primary my-2">Return back</a>
        </div>
    </div>
</div>
{%endblock%}